header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 5px;
  /* box-shadow: 0 0px 10px 0px #b44445; */
  z-index: 1;
  background-color: #ffffff;
}
header .logo {
  width: 140px;
  padding-top: 10px;
}
header .logo img {
  width: 100%;
}
header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
  padding-right: 10px;
}
header nav ul li a {
  font-size: 17px;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: all 0.2s linear;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #b44445;
}
#lang-menu {
  cursor: pointer;
}
#lang-menu .lang-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/* Burger menu css start */

header #burger-menu {
  cursor: pointer;
  height: 27px;
  /* width: 27px; */
  overflow: visible;
  position: relative;
  z-index: 10;
  display: none;
}

header #burger-menu span {
  background: black;
  right: 0px;
  top: 35px;
  width: 27px;
}
/* line 52, ../sass/header.scss */
header #burger-menu span:before {
  content: "";
  background: black;
}
/* line 57, ../sass/header.scss */
header #burger-menu span:after {
  content: "";
  background: black;
}
/* line 65, ../sass/header.scss */
header #burger-menu.close span {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 35px;
  width: 27px;
  background: white;
}
/* line 70, ../sass/header.scss */
header #burger-menu.close span:before {
  top: 0px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 27px;
  background: white;
}
/* line 76, ../sass/header.scss */
header #burger-menu.close span:after {
  top: 0px;
  left: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
  background: white;
}
/* line 86, ../sass/header.scss */
header #menu {
  z-index: 5;
  min-width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  left: 0;
  right: 0;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
/* line 101, ../sass/header.scss */
header #menu ul {
  margin-bottom: 0px;
  padding-inline-start: 0px;
}
/* line 103, ../sass/header.scss */
header #menu ul li {
  list-style: none;
}
/* line 110, ../sass/header.scss */
header #menu ul li a {
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;
}
/* line 121, ../sass/header.scss */
header #menu .menu-socials ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 125, ../sass/header.scss */
header #menu .menu-socials ul li {
  margin-right: 20px;
  position: relative;
}
/* line 128, ../sass/header.scss */
header #menu .menu-socials ul li:last-child {
  margin-right: 0px;
}
/* line 145, ../sass/header.scss */
header #menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 65px;
  background: rgba(116, 32, 48, 0.98);
  z-index: 6;
  height: 100vh;
}

header #burger-menu span,
header #burger-menu span:before,
header #burger-menu span:after {
  display: block;
  height: 1px;
  opacity: 1;
  border-radius: 3px;
  position: absolute;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

/* line 218, ../sass/header.scss */
header #menu .menu-socials ul li:nth-child(2):before,
header #menu .menu-socials ul li:nth-child(3):before {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  background: #000000;
  right: 30px;
  top: 3px;
}

/* Section projects */

#content .works-title {
  position: relative;
}
#content .works-title h1 {
  font-size: 182px;
  text-align: center;
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
#content .works-title h3 {
  bottom: 45px;
  right: 56%;
  position: absolute;
  font-size: 34px;
  color: #231f20;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
#content {
  margin-bottom: 150px;
}
#content .col-md-6 {
  margin-top: 80px;
}
#content .project {
  position: relative;
  width: 100%;
  height: 300px;
  transition: all 0.3s linear;
}
#content .project:hover {
  box-shadow: 0px 0px 10px 0px black;
}
#content .project:hover .anchor {
  margin-top: 0px;
  opacity: 1;
}
#content .project img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#content .project video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#content .project:hover .project-layout-top {
  height: 150px;
}
#content .project:hover .project-layout-bottom {
  height: 150px;
}
#content .project .project-layout-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
  transition: all 0.3s linear;
  background-color: #b44446ad;
}
#content .project .project-layout-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  transition: all 0.3s linear;
  background-color: #b44446ad;
}
#content .project-title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: #b44445; */
}
.anchor {
  margin-top: -50px;
  opacity: 0;
  padding-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.3s linear;
}

.anchor a {
  text-align: center;
  line-height: 1;
  color: #b44445;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s linear;
}
.anchor a i {
  margin-right: 20px;
  transition: all 0.2s linear;
}
.anchor a:hover i {
  margin-right: 2px;
  margin-left: 8px;
}
.anchor-mobile {
  margin-top: 0px;
  opacity: 0;
  padding-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: all 0.3s linear;
}

.anchor-mobile a {
  text-align: center;
  line-height: 1;
  color: #b44445;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.2s linear;
}
.anchor-mobile a i {
  margin-right: 20px;
  margin-right: 2px;
  margin-left: 8px;
  transition: all 0.2s linear;
}
.anchor-mobile a:hover i {
  margin-right: 2px;
  margin-left: 8px;
}
#open-connect {
  display: flex;
  flex-direction: column;
  color: transparent;
  -webkit-text-stroke: #b44445;
  -webkit-text-stroke-width: 2px;
  transition: all 0.2s linear;
  position: relative;
  top: -50px;
  left: -10px;
}
#open-connect:hover {
  color: #b44445;
}
#open-connect svg {
  position: unset;
  transition: all 0.2s linear;
  width: 50px;
}
#open-connect:hover svg g {
  fill: #b44445;
}
#open-connect svg g {
  stroke: #b44445;
  transition: all 0.2s linear;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  header nav {
    display: none;
  }
  header #burger-menu {
    display: block;
  }

  header .logo {
    width: 100px;
  }
  #content .works-title h1 {
    font-size: 58px;
  }
  .anchor {
    display: none;
  }
  .anchor-mobile {
    opacity: 1;
  }
  #content .col-md-6 {
    margin-top: 100px;
  }
  #content .works-title h3 {
    font-size: 12px;
    top: 50%;
  }
}
